@using WebQuanLyBanHang.Common;
@using WebQuanLyBanHang.Utilities.ViewModel;
@model OrderInformationVM;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = Model;
}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10"> Thông tin đơn hàng</h5>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="alert alert-primary" role="alert">
                Thông tin khách hàng
            </div>
            <div class="form-row">
                <input type="hidden" asp-for="CustomerOrder.CusId" />
                <input type="hidden" asp-for="OrderId" />
                <div class="form-group col-md-4">
                    <label asp-for="CustomerOrder.CusName">Tên khách hàng</label>
                    <input type="text" class="form-control" asp-for="CustomerOrder.CusName" placeholder="Nhập tên khách hàng">
                    <span asp-validation-for="CustomerOrder.CusName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CustomerOrder.CusPhoneNumber">Điện thoại</label>
                    <input asp-for="CustomerOrder.CusPhoneNumber" type="text" class="form-control" readonly />
                    <span asp-validation-for="CustomerOrder.CusPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CustomerOrder.CusGender">Giới tính</label>
                    <select asp-for="CustomerOrder.CusGender" asp-items="Html.GetEnumSelectList<Gender>()"
                            class="form-control"></select>
                    <span asp-validation-for="CustomerOrder.CusGender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="CustomerOrder.DateOfBirth">Ngày sinh</label>
                    <input asp-for="CustomerOrder.DateOfBirth" type="date" class="form-control">
                    <span asp-validation-for="CustomerOrder.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CustomerOrder.CusGrpCusId">Nhóm khách</label>
                    <select asp-for="CustomerOrder.CusGrpCusId" asp-items="@ViewBag.GroupCustomer" class="form-control">
                    </select>
                    <span asp-validation-for="CustomerOrder.CusGrpCusId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CustomerOrder.CusEmail">Email</label>
                    <input asp-for="CustomerOrder.CusEmail" type="email" class="form-control">
                    <span asp-validation-for="CustomerOrder.CusEmail" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CustomerOrder.CusAge">Tuổi</label>
                    <input asp-for="CustomerOrder.CusAge" type="number" class="form-control" />
                    <span asp-validation-for="CustomerOrder.CusAge" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CustomerOrder.CusWeight">Cân nặng</label>
                    <input asp-for="CustomerOrder.CusWeight" type="number" class="form-control" />
                    <span asp-validation-for="CustomerOrder.CusWeight" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustomerOrder.CusCity">Tỉnh/Thành phố</label>
                    <select asp-for="CustomerOrder.CusCity" asp-items="@ViewBag.Provinces" class="form-control">
                        <option>Chọn tỉnh</option>
                    </select>
                    <span asp-validation-for="CustomerOrder.CusCity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustomerOrder.CusDistrict">Huyện/Quận</label>
                    <select asp-for="CustomerOrder.CusDistrict" asp-items="@ViewBag.CusDistrict" class="form-control">
                        <option>Chọn huyện</option>
                    </select>
                    <span asp-validation-for="CustomerOrder.CusDistrict" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustomerOrder.Cusward">Xã/Phường</label>
                    <select asp-for="CustomerOrder.Cusward" asp-items="@ViewBag.Cusward" class="form-control">
                        <option>Chọn xã</option>
                    </select>
                    <span asp-validation-for="CustomerOrder.Cusward" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CustomerOrder.CusAddress">Số nhà</label>
                    <input asp-for="CustomerOrder.CusAddress" type="text" class="form-control" />
                    <span asp-validation-for="CustomerOrder.CusAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="alert alert-secondary" role="alert">
                Thông tin đơn hàng
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Phân loại</label>
                    <select asp-for="ManagementOrderVM.OrderInfoContentId" asp-items="@ViewBag.OrderInfoContent" class="form-control">
                    </select>
                    <span asp-validation-for="ManagementOrderVM.OrderInfoContentId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label>Loại đơn</label>
                    <select asp-for="ManagementOrderVM.SingleTypeId" asp-items="@ViewBag.SingleType" class="form-control">
                    </select>
                    <span asp-validation-for="ManagementOrderVM.SingleTypeId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Trạng thái</label>
                    <select asp-for="ManagementOrderVM.OrderStatusId" asp-items="@ViewBag.OrderStatus" class="form-control">
                    </select>
                    <span asp-validation-for="ManagementOrderVM.OrderStatusId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Giao hàng</label>
                    <select asp-for="ManagementOrderVM.MethodDeliveryId" asp-items="@ViewBag.MethodDelivery" class="form-control">
                    </select>
                    <span asp-validation-for="ManagementOrderVM.MethodDeliveryId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label>Nguồn MKT</label>
                    <select asp-for="ManagementOrderVM.OrderSourceId" asp-items="@ViewBag.OrderSource" class="form-control">
                    </select>
                    <span asp-validation-for="ManagementOrderVM.OrderSourceId" class="text-danger"></span>
                </div>
            </div>

            <div class="alert alert-success" role="alert">
                Sản phẩm/Hàng hóa
            </div>
            <div class="form-group">
                <div id="table-product">
                </div>
            </div>
            <div class="alert alert-danger" role="alert">
                Chi phí
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Thành Tiền</label>
                    <input asp-for="ExpenseOrderVM.IntoMoney" step="0.1" min="0" type="number" class="form-control" readonly />
                    <span asp-validation-for="ExpenseOrderVM.IntoMoney" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Giảm giá (theo %)</label>
                    <input asp-for="ExpenseOrderVM.Discount" step="0.1" min="0" type="number" class="form-control" />
                    <span asp-validation-for="ExpenseOrderVM.Discount" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Phí vận chuyển</label>
                    <input asp-for="ExpenseOrderVM.TransportFee" min="0" step="0.1" type="number" class="form-control" />
                    <span asp-validation-for="ExpenseOrderVM.TransportFee" class="text-danger"></span>
                </div>
              
                <div class="form-group col-md-3">
                    <label>Còn phải trả</label>
                    <input asp-for="ExpenseOrderVM.Payments" type="text" class="form-control" readonly />
                    <span asp-validation-for="ExpenseOrderVM.Payments" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Trả trước</label>
                    <input asp-for="ExpenseOrderVM.Prepay" type="number" step="0.1" class="form-control" />
                    <span asp-validation-for="ExpenseOrderVM.Prepay" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Còn nợ</label>
                    <input asp-for="ExpenseOrderVM.StillOwed" type="number" step="0.1" class="form-control" readonly />
                    <span asp-validation-for="ExpenseOrderVM.StillOwed" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label>Ghi chú</label>
                <textarea asp-for="ManagementOrderVM.Note" rows="3" class="form-control"></textarea>
                <span asp-validation-for="ManagementOrderVM.Note" class="text-danger"></span>
            </div>
            <a href="/danh-sach-don-hang" class="btn btn-light">Quay lại</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            getCart();
            
        });
        function getCart() {
            axios.get('@Url.Action("GetCartItem", "OrderMag")', {})
                .then(function (response) {
                    $("#table-product").html(response.data);
                    $("#ExpenseOrderVM_IntoMoney").val($("#sumCart").text());
                })
                .catch(function (error) {
                    $.notify(error, "error");
                })
        }
        
    </script>
}