@using WebQuanLyBanHang.Utilities.ViewModel;
@using WebQuanLyBanHang.Utilities;
@model ResponseData<CustomerSale>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Số điện thoại</th>
                    <th>Ngày nhập</th>
                    <th>Người nhập</th>
                    <th>Người tư vấn</th>
                    <th>Trạng thái</th>
                    <th class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.PhoneNumber</td>
                        <td>@item.CretedDate.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.NameMKT</td>
                        <td>@item.NameSale</td>
                        <td>@item.StatusSale</td>
                        <td class="text-center">
                            @if (item.Status < 2)
                            {
                                <button class="btn btn-success" onclick="edit('@item.Id')" title="Sửa">
                                    <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </button>
                                <button class="btn btn-danger" onclick="del('@item.Id')" title="Xóa">
                                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @await Component.InvokeAsync("Paging", Model)
        </div>
    </div>
</div>